/FLEX-OBD/Debug

/FLEX-OBD-LCD/Debug

/PC-OBD/Debug

/GUI/FLEX-OBD-GUI.pro.user*

/FLEX-SIMULATOR/SerialFlexSimulator.pro.user*

/doc/developer/Doxygen/GUI/html
/doc/developer/Doxygen/GUI/latex

/doc/developer/Doxygen/FLEX-OBD/html
/doc/developer/Doxygen/FLEX-OBD/latex

/doc/developer/Doxygen/FLEX-OBD-LCD/html
/doc/developer/Doxygen/FLEX-OBD-LCD/latex

/doc/user/*.aux
/doc/user/*.log
/doc/user/*.out
/doc/user/*.synctex.gz

/doc/developer/*.aux
/doc/developer/*.log
/doc/developer/*.out
/doc/developer/*.synctex.gz
